@import "bootstrap-sprockets";
@import "bootstrap";

//application.html.erb
header {
    background-color: #dcdcdc;
}

.title{
    margin: 0px;
    padding: 20px;
    font-size: 18px;
}

.title-text{
    color:#000000;
}

//index.html.erb
.sub-title{
    margin: 0;
    padding:20px 0 10px 0;
}

.new-button{
    margin: 0;
    padding:20px 0 10px 0;
    text-align: right;
}

.today{
    text-align: right;
}

.footer{
    margin: 30px 0 0 0;
    padding: 15px 0;
    background-color: #f5f5f5;
}

p.col-md-6{
    margin: 0;
}

//show.html.erb
.back-link{
    margin-top: 10px;
}

//new.html.erb,edit.html.erb,show.html.erb
.width{
    max-width: 640px;
    margin: auto;
}

.form{
    margin: auto;
}

.col-md-6{
    padding-left: 0;
}

.layout{
    padding: 20px 0 0 0;
}

.button{
    padding:20px 0 0 0;
}

li{
    display: inline;
}

p{
    margin: 0;
}

//_error.html.erb
.error-message{
    padding: 0;
    color: red;
}
